Python
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
Venv/
ENV/
env.bak/
venv.bak/

Dependencies
通常、requirements.txt で管理されるため、個別のパッケージは無視
*.egg-info/
.eggs/

OS Specific
.DS_Store
Thumbs.db

MyPy
.mypy_cache/

Jupyter Notebook (もし使う場合)
.ipynb_checkpoints/

IDE specific files (例: VS Code)
.vscode/

psql 'postgresql://neondb_owner:npg_OGLNtKz4V8YQ@ep-damp-fog-a1y2sylm-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

.env.local
